@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

:root {
  	--fontFamily: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--fontFamily);
    background-image: linear-gradient(
      94.3deg,
      rgba(14, 17, 19, 1) 10.9%,
      rgba(29, 35, 32, 1) 87.1%
    );
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}

header {
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%),
		url("images/header-bg.jpg");
	background-size: cover;
	background-position: center center;
	font-size: 1.5rem;
	color: #fff;
}

form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form button,
form input {
	border: none;
	background-color: #fff;
	padding: 1rem;
	border-radius: 5px 0 0 5px;
	font-size: 1.2rem;
	font-family: var(--fontFamily);
	outline: none;
	transition: background 0.5s, box-shadow 0.5s;
}

form button {
	border-radius: 0 5px 5px 0;
	background: #c23c2a;
	color: #fff;
	cursor: pointer;
}

form button:hover {
  	background: #7f271b;
}

form input:focus {
  	box-shadow: 0px 0px 35px 15px rgba(255, 255, 255, 0.25);
}

.info-container {
	color: #fff;
	margin: auto 2rem 2rem;
}

.flag-img {
	display: block;
	margin: 0 auto;
}

.infos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
}

.icon {
  	font-size: 3rem;
}

.infos div {
	background-color: rgb(13, 13, 56);
	border-radius: 10px;
	cursor: pointer;
	padding: 1rem;
	display: grid;
	gap: 1rem;
}

.title {
	font-size: 1.5rem;
}

.subtitle {
	font-size: 2rem;
	margin: 1rem 0	;
}

@media (max-width: 540px) {
	header h1 {
		font-size: 2rem;
	}

	form button,
	form input {
		padding: 0.6rem;
		font-size: 1rem;
	}
	
	form input {
		width: 240px;
	}

	.title {
		font-size: 1.3rem;
	}

	.subtitle {
		font-size: 1.8rem;
	}
}